{{ .Page.RenderString `
<div class="rounded-lg bg-theme-light p-4 dark:bg-darkmode-theme-light my-4">
  <h4 class="h6 mb-2">Important Contribution Guidelines</h4>
  <p class="mb-2">Whether you&rsquo;re the candidate or submitting on their behalf, please follow these guidelines:</p>
  <ul>
    <li>Please do not copy content from other web presences. This site is focused on providing high-quality, discoverable profiles; duplicated content can reduce the entire site&rsquo;s visibility in search results.</li>
    <li>If you&rsquo;re submitting for someone else, confirm you have permission to post and include your name and relationship in the submission. Ensure the candidate agrees to the <a href="/running/pledge">pro-democracy pledge</a>.</li>
  </ul>
</div>
` | safeHTML }}
